# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules
dist
dist-ssr

# Env
.env
.env.local

# Build
*.out
*.exe
*.dll
server
backGo/api
backGo/.!*

# OS
.DS_Store
